<form action="/counter/result" method="post">
    <label for="userWord">Word to Search For</label>
    <input id="userWord" name="userWord" type="text">
    <label for="userWriting">Writing Sample</label>
    <input id="userWriting" name="userWriting" type="text">
    <button type="submit">Add</button>
</form>